<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="com.google.maps.android.utils.permission.MAPS_RECEIVE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<application android:label="TripLog.Android">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyA5BNkuqrPuNPlAw4aMjIUeJgTc4c0UHT8"/>
  </application>
</manifest>